<section class="p-2">
    <a href="/dashboard/public-stories" class="px-2 py-1 bg-blue-300 rounded-md">Back</a>
    <div class="stories grid grid-cols-4 gap-3 mt-5 p-5">
        <% findAllStoriesOfParticularUser.forEach(element => { %>
            <div class="story border flex flex-col overflow-hidden items-center justify-center p-4 boxShadow">
                <h1 class="text-[1rem] font-[600] opacity-70 text-center uppercase"><%-element.title %></h1>
                <p class="p-5 text-[0.9rem] opacity-70"><%-element.body%></p>
            </div>
        <% }) %>
    </div>
</section>