<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Protest+Riot&display=swap" rel="stylesheet">
    
    <!-- Remix-icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css" integrity="sha512-dUOcWaHA4sUKJgO7lxAQ0ugZiWjiDraYNeNJeRKGOIpEq4vroj1DpKcS3jP0K4Js4v6bXk31AAxAxaYt3Oi9xw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fgazette-live-storagestack-17-assetstorages3bucket-1571qjbkpxwcd.s3.ap-southeast-2.amazonaws.com%2Fpublic%2Fvolume-102-issue-12%2F6.-Storybooks-support-mental-health-01.jpg&tbnid=wVlKpXFTms5hYM&vet=12ahUKEwjk5fCd-KyEAxWZ4qACHZM2DEYQMyhZegUIARDGAg..i&imgrefurl=https%3A%2F%2Fgazette.education.govt.nz%2Farticles%2Fstorybooks-support-mental-health-post-pandemic%2F&docid=6emljApiMb52uM&w=600&h=541&q=StoryBooks&ved=2ahUKEwjk5fCd-KyEAxWZ4qACHZM2DEYQMyhZegUIARDGAg" type="image/x-icon">
    <title>DashBoard</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <%-include('../partials/header')%>
    <main class="dashBoardFont relative top-[9vh] min-h-screen w-full">
        <%-body%>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>