<section class="border bg-slate-50 min-h-[35vh] w-[35%] m-auto boxShadow flex flex-col items-center justify-center gap-3">
    <div class="flex items-center justify-center gap-3">
        <i class="ri-book-open-fill text-[#000345] text-[2rem] self-center"></i>
        <h1 class="text-[#000001] font-[700] text-[2rem] tracking-wide">Storybooks</h1>
    </div>
    <div class="self-center">
        <p class="text-center">Create public and private stories from your life</p>
    </div>
    <div class="login-google-tab flex mt-1">
        <a href="/auth/google" class="bg-[#EA473A] boxShadow py-1 px-2 text-center text-[0.9rem] rounded-tl-md rounded-br-lg rounded-md inline m-auto font-[700] text-[#ffffffdd]"><i class="ri-google-fill text-[#ffffffdd] text-[1.2rem] mr-2"></i>LOG IN WITH GOOGLE</a>
    </div>
</section>